.productCol{width:250px; padding-bottom:5px;}
.releaseCol{width:250px;}
.actionCol{width:90px}
.actionCol .btn-group .btn{padding-bottom:5px; border-left:0px;}
.productCol .chosen-single, .releaseCol .chosen-single{width:200px !important}
#kanbanHeader{margin-bottom:0px;}
.label-danger{margin-top: 7px;}